# Dependency directories
node_modules/
# Database
db/
*.db
# Ignore file with passwords
botinfo.js
# Ignore media files which are bot deployment specific
sounds/*.wav
sounds/*.mp3
sounds/*.ogg
# Docker params (including api key)
.env
